h1 {
  font-family: 'Indie Flower', cursive;
}
.title{
  position: relative;
  color: black;
}
div {
  width: 300px;
  border: 10px solid gray;
  padding: 25px;
  margin: 25px;
}
.menu{
  background-color: lightgrey;
}
